@font-face {
    font-family: 'MontserratLight';
    src: url("../fonts/Montserrat-Light.ttf") format("truetype");
}

@font-face {
    font-family: 'MontserratSemiBold';
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');

$primary-font: 'MontserratLight', 'Montserrat', sans-serif;
$primary-font-bold: 'MontserratSemiBold', 'Montserrat', sans-serif;

h1, h2, h3, h4, h5, h6 {
font-family: $primary-font-bold;
color: $base-color;
line-height: 1.3;
}

p {
font-family: $primary-font;
color: $base-color;
}

a {
color: $base-color;
font-family: $primary-font-bold;
text-decoration: none;

&:hover {
    text-decoration: underline;
}
}

b, strong {
font-weight: 600;
}
