/*** INTRO ***/

.intro {
    padding: 72px 0 30px;
    
    &__heading {
        font-size: 28px;
        line-height: 40px;
    }
    
    p {
        letter-spacing: 0;
        line-height: 32px;
        margin-top: 24px;
        
        span.space {
            padding-left: 5px;
        }
    }
    
    a {
        font-family: $primary-font;
        font-weight: 300;
        text-decoration: underline;
        color: $base-color;
    }
}
@media only screen and (min-width: $breakpoint-md) {
    .intro {
        padding: 120px 0 60px;
        
        &__heading {
            font-size: 32px;
            line-height: 44px;
        }
    }
}
@media only screen and (min-width: $breakpoint-xxl) {
    .intro {
        padding: 200px 0 120px;
    }
}
